:root {
	--red: #e50914;
	--black: #141414;
	--light-gray: #aaa;
}

/*Base CSS*/
body {
	background: var(--black);
	font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: white;
}

header .container {
	border: 1px solid #000;
	display: flex;
	flex-direction: row;
	align-items: center;
}

header .logo {
	color: var(--red);
	font-family: 'Bebas Neue', 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-size: 4rem;
	font-weight: 700;
	margin-right: 2rem;
}

header .top-menu {
	display: flex;
	flex-direction: row;
}

header .netflix-logo {
	height: 3rem;
}

header div a {
	text-decoration: none;
	color: white;
	margin-right: 0.8rem;
}

header div a:hover {
	color: var(--light-gray);
}

/*Main Banner*/
.container {
	margin-left: 4%;
	margin-right: 50%;
}

.main-banner {
	font-size: 1rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
		url('../img/house_of_cards2.jpg');

	background-size: cover;

	height: 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.main-banner .description {
	margin-top: 0.7rem;
	margin-bottom: 2.5rem;
}

.main-banner .title {
	margin-top: 5%;
	font-size: 2.5rem;
}

.button {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	/* display: flex; */
	/* justify-content: space-between; */
	padding: 1rem 2rem;
	margin-right: 1rem;
	font-size: 0.8rem;
	border-radius: 0.4rem;
}

.button:hover {
	/* transition: 3s ease all; */
	border: 1px solid #fff;
	/* background-color: #fff;
	color: #000; */
}

.button:active {
	border: 1px solid #fff;
	background-color: #fff;
	color: #000;
}

button i {
	margin-right: 0.3rem;
}

.carousel-title {
	padding: 1rem 0 0rem 1rem;
	font-size: 2rem;
}

.carousel {
	height: 15, 625rem;
	width: 90%;
	position: relative;
}

.carousel .switchLeft,
.carousel .switchRight {
	display: flex;
	height: 100%;
	width: 45px;
	top: 0;
	z-index: 3;
}

.carousel .switchLeft:hover,
.carousel .switchRight:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.carousel .switchLeft {
	position: absolute;
	left: 0px;
}

.carousel .switchRight {
	position: absolute;

	right: -10%;
}

.carouselbox {
	height: 250px;
	width: 110%;
	overflow: hidden;
	/* white-space: nowrap; */
	display: flex;
	padding-bottom: 10px !important;
	display: flex;
	align-items: center;
}

.carouselbox img {
	min-width: 147px;
	max-width: 147px;
	height: 200px;
	background-size: cover;

	margin: 5px 10px;
	cursor: pointer;
	transition: 0.5s ease;
	z-index: 2;

	/* margin: 15px; */
}

.carouselbox img:hover {
	transform: scale(1.4);
	z-index: 5;
}
